@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap{
  @apply max-w-[1500px] m-auto px-5;
}
.nav{
  background-image: url("/assets/images/more/15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  font-family: "Raleway", sans-serif;
  color:#1B1A1A;
}
.banner{
  background-repeat: no-repeat;
  background-position: center center;
  height:calc(100vh - 74px);
}

.main-btn{
  @apply bg-pin py-2 px-5 mt-5 text-main font-rancho rounded-sm  font-bold  hover:bg-transparent hover:text-white hover:border hover:border-white border border-pin
}